.top-header {
  background-color: rgb(224, 224, 224);
  border-bottom: 1px solid grey;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

.myIconSize {
  width: 40px;
  height: 40px;
  margin: 5px auto;
  fill: black;
}

.post-box {
  background-color: rgba(224, 224, 224, 0.233);
  max-width: 800px;
  max-height: 800px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.post-box::after, .post-box::before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 10px 0;
}

.post-box:hover {
  background-color: rgba(224, 224, 224, 0.482);
}

.btn.btn-secondary {
  background-color: rgba(224, 224, 224, 0.482);
  color: black;
}

.btn.btn-secondary:hover {
  background-color: rgba(224, 224, 224, 0.791);
}
img {
  max-width: 100%;
  max-height: 100%;
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; 
}

.image-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 500px;           /* Set a height for the container */
  width: 100%;             /* Set the width of the container */
  overflow: hidden;        /* Optional: in case the image is bigger than the container */
  /* Same as the image */
}

.posts-ul {
  list-style-type: none;
}

.selftext {
  max-height: 300px; /* Adjust this value as needed */
  overflow-y: auto; /* Adds a scrollbar when content is too long */
  word-wrap: break-word; /* Ensures long words don't cause layout issues */
  margin-bottom: 15px; /* Add some space below the text */
}
